* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 98vh;
  background: grey;
  border: 1px solid grey;
}
header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 10%;
  /* margin: 1%;   */
}
.controls {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 90%;
  background: rgb(80, 249, 255);
  color: rgb(38, 41, 241);
  border: 1px solid black;
}
button {
  cursor: pointer;
}
.info {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 5px;
  width: 60%;
  height: 100%;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 2%;
  font-size: 90%;
  background: rgb(80, 255, 159);
  color: rgb(38, 41, 241);
  border: 1px solid black;
  overflow: auto;
}
p {
  padding: 1%;
}
.wall {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 70%;
  margin-top: 1%;
  border: 1px solid black;
  background: lightgrey;
  box-shadow: 15px 16px 4px black;
  overflow: hidden;
}
.brick {
  position: relative;
  /* width: 6%; */
  width: 4.6vw;
  height: auto;
  border: 1px solid rgb(114, 91, 91);
  overflow: hidden;
}
.brickResize {
  width: 4.3vw;
}
input {
  margin: 5px;
  padding: 1px;
}
#clear {
  margin: 5px;
  padding: 1px;
}
.choiceAppear {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}
.winChoice {
  display: none;
  position: absolute;
  width: 60%;
  height: 80%;
  right: 2%;
  top: 15%;
  background-color: blanchedalmond;
  border: 1px solid black;
}
.example_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  width: 25%;
  height: auto;
  cursor: pointer;
}
.item_paragr {
  color: black;
  font-size: 1em;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* media request */
@media (max-width: 1040px) {
  .info {
    font-size: 0.7em;
    padding: 1px;
  }
  .item_paragr,
  span {
    font-size: .7em;
  }
}
