* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.question {
    /* position: absolute;
    top: 2%;
    right: .5%; */
    /* border: 1px solid black; */
    width: 5%;
    height: 70%;
}
img{
    
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.body_answer {
    padding: 2%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background-image: url('textures/ekgreyblue.jpg');
}
.answer {
    padding: .5em;
    margin: 2%;
    font-size: 2em;
    font-weight: bolder;
    background-color:thistle;
    color:black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: lightgrey;

}
.container_button {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 10%;
    align-items: center;
    justify-content: space-evenly;
    margin: 1%;
    background: rgb(105, 97, 98);
    box-shadow: 10px 12px 5px black;

}
.input_div, p {
    color:chartreuse;
}
.ref {
    min-width: 20% ;
    /* border: 1px solid black; */
}
.parref {
    margin: 4%;
}


.container_wall {
    width: 80%;
    height: 80%;
    /* border: 1px solid black; */
    background-image: url('badwall1.jpg');
    background-size: contain;
    box-shadow: 10px 12px 5px black;
}
.wall {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pannel {
    /* border: 1px solid black; */
    background-size: contain;
}
.rotate {
    transform:rotate(90deg);

}